
ul {
  margin: 0;
  padding: 4px;
  list-style-type: none;
}
li {
  float: right;
  margin: 0 9px;
  font-family: arial;
  color: #404040;
  font-size: 13px;
  line-height: 24px;
}
#sign_button {
  color: white;
  background: #2E8AE6;
  border: none;
  height: 30px;
  width: 70px;
}

img {
  position: fixed;
  left: 500px;
  top: 150px;
}
.search_bar {
  height: 25px;
  margin-left: 445px;
  margin-top: 300px;
}
.google {
  margin-left: 575px;
  height: 35px;
  background-color: #F3F3F3;
}
.lucky {
  margin-left: 15px;
  height: 35px;
  background-color: #F3F3F3;
}

a {
  text-decoration: none;
}
#foot .left {
  float:left;
  display: block;
}
#foot .right {
  float: right;
  display: block;
  margin: 100px;
}
#foot {
  position: fixed;
  bottom: 0;

}
